.button
  border-radius 3px
  background transparent
  border 2px solid $buttonBorder
  color $buttonColor
  font-size 16px
  padding 5px 15px
  transition color 300ms ease-out 40ms
  transition background-color 300ms ease-out 40ms

  &:hover
    color #ffffff
    background-color $buttonBorder