.button
  border-radius 3px
  background transparent
  border($buttonBorder)
  color $buttonColor
  font-size 16px
  padding 5px 15px
  transition border-color 300ms ease-out 40ms
  transition color 300ms ease-out 40ms
  transition background-color 300ms ease-out 40ms

  &:hover
    border-color darken($buttonBorder, 15)
    color darken($buttonColor, 15)
    background-color lighten($buttonBorder, 40)