.form
  padding 15px
  border($formBorder)

  &__input
    size 100% 30px
    margin-bottom 15px
    line-height 29px

  &__textarea
    size 100% 30px
    margin-bottom 15px

    &.active
      height 100px

  &.header-form
    absolute top -1000px left -310px
    width 400px
    transition top 400ms ease-out 20ms
    background #ffffff
    z-index 10
    box-shadow 2px 2px 5px 1px $modalShadow

    &.active
      top 55px

  & select
    size 100% 30px
    margin-bottom 15px
    border($inputBorder)