.header
  fixed top left
  size(100%, $headerHeight)
  background $headerBg
  z-index 5

  &__content
    margin-left $menuWidth
    position absolute
    top 0
    right 0
    font-size 0

  &__button
    size($headerHeight, $headerHeight)
    display inline-block
    box-sizing border-box
    position relative
    top 0
    padding 9px
    transition background-color 300ms ease-in 50ms

    &:hover
      background-color darken($headerBg, 10)
