.menu
  fixed top left
  size($menuWidth, 100%)
  background $menuBg
  z-index 10

  &-holder
    margin-top 30px

  &__item
    size($menuWidth, 40px)
    transition background-color 200ms ease-in 50ms
    display block
    line-height 39px
    text-align center
    text-decoration none
    color $menuColor
    font-weight 700

    &:hover
      background-color lighten($menuBg, 10)

.logo
  size($menuWidth, $headerHeight)
  display block
  transition background-color 300ms ease-in 50ms
  text-align center

  &:hover
    background-color lighten($menuBg, 20)

.language
  absolute bottom left
  text-align center
  font-size 13px
  size 100% 30px
  line-height 30px

  & a
    color $menuColor
