.list
  padding 10px 0

  &-title
    padding-bottom 10px

    & a
      color lighten($titleColor, 60)
      text-decoration underline
      transition color 200ms ease 50ms

      &:hover
        color $titleColor

  &.active
    margin-bottom 20px

    & .list-title a
      color $titleColor

  &-items
    display none
  &.active &-items
    display block

  &-item
    padding-left 30px

    &__content
      border-bottom $todoItemBorder 1px solid

    &__title
      size 100% 40px
      line-height 39px
      relative
      relative()

      &:hover
        cursor pointer
        background lighten($headerBg, 58)

      &-check
        absolute top 13px left -22px

      &-name
        padding 0 150px 0 10px

      &-type
        absolute top right
        text-align right

    &__description
      color lighten($textColor, 20)
      padding 10px 10px 15px
      display none

    &.active &__description
      display block