/* Text colors */
$textColor = #2a2a2a;
$menuColor = #c0c0c0;
$typePrivate = #7ED321;
$typeOrange = #F5A623;
$buttonColor = #3a53af;
$dayLinkColor = #324181;
$dayLinkActiveColor = #007FFF;
$headerColor = #3B3B3B;
$linkColor = #006FFF;
$noteColor = #949494;

/* Background colors */
$headerBg = #4E4E5F;
$menuBg = #4E4E5F;
$bodyBg = #ffffff;
$logoBg = #3C3C48;
$todoHeaderBg = #E9EAEE;
$todoHeaderFullBg = #F4F6FA;
$taskActiveBg = #006CAC;
$todoListBg = #f3f3f3;
$todoDescBg = #F9F9F9;

/* Elements sizes */
$minPageWidth = 320px;
$menuWidth = 250px;
$headerHeight = 60px;
$footerHeight = 60px;

/* Borders */
$radius = 3px;
$sectionBorder = #C2C0D4;
$itemBorder = #D5DDEB;
$commentsBorder = #BFBFBF;

/* Shadows */
$modalShadow = rgba(36, 50, 120, 0.6);

/* Buttons */
$addButtonColor = #4CBD47;
$actionAddButton = #119D28;
$actionRemoveColor = #D0021B;