.todo-type
  height 14px
  line-height 13px
  padding-right 18px
  font-size 12px
  font-weight 300
  position relative
  display inline-block

  &__circle
    absolute top right 0
    size 12px
    border-radius 6px

  &.private
    color $typePrivate

  &.private &__circle
    background $typePrivate

  &.job
    color $typeOrange

  &.job &__circle
    background $typeOrange