.logo
  size($menuWidth, $headerHeight)
  display block
  background-color $logoBg
  transition background-color 300ms ease-in 50ms
  text-align center
  line-height $headerHeight
  color #ffffff
  font-size 24px

  &:hover
    background-color lighten($logoBg, 20)